body {
  font-size: 500%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#instructionsContainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
  
#instructionsList {
  list-style-type: none;
  padding: 0;
}
  
.instruction {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10% 10%;
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  font-size: 30%;
  border-radius: 4px;
}

button:hover {
  background-color: blue;
}
  
#navigationButtons {
  margin-top: 20px;
  color: black;
}

#goBackButton {
  margin-right: 10px;
}

#arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  margin: 50px; 

  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid black; /* Adjust the thickness and color as needed */
}

.arrow:hover {
  border-bottom-color: blue;
}

#prevArrow {
  transform: rotate(-90deg);
}

#nextArrow {
  transform: rotate(90deg);
}
  
.vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: black;
  transform: translateX(-50%);
}

