.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fortune-cookie {
    position: relative;
}

#fortune-cookie img {
    width: 700px;
    height: 600px;
}

#fortune-message {
    position: absolute;
    top: 42%;
    left: 50%;
    z-index: 1;
    width: 190px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    margin-top: -42px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: none;
    transform: translate(-50%, -50%) rotate(5deg);
}

/* CSS for the shake animation */
@keyframes shake {
    0% { transform: rotate(-5deg) translateX(0); }
    10% { transform: rotate(5deg) translateX(5px); }
    20% { transform: rotate(-5deg) translateX(-5px); }
    30% { transform: rotate(5deg) translateX(5px); }
    40% { transform: rotate(-5deg) translateX(-5px); }
    50% { transform: rotate(5deg) translateX(5px); }
    60% { transform: rotate(-5deg) translateX(-5px); }
    70% { transform: rotate(5deg) translateX(5px); }
    80% { transform: rotate(-5deg) translateX(-5px); }
    90% { transform: rotate(5deg) translateX(5px); }
    100% { transform: rotate(-5deg) translateX(0); }
}

.shake-animation {
    animation: shake 1s;
}