@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*background image added*/
body {
  font-family: "Arial", sans-serif;
  /*
  background: rgb(68, 67, 78);
  background: radial-gradient(
    circle,
    rgba(68, 67, 78, 1) 0%,
    rgba(38, 38, 38, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );*/
  background: url("media/magic8.png") no-repeat center center fixed;

  /* An alternate background:
  background: url("media/smoke.jpeg") no-repeat center center fixed; */
  z-index: -300;
  background-size: cover;
}

/*font style changed*/
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #f6f6f6;
  margin-top: 36px;
  font-family: "Marcellus", serif;
  cursor: default;
}

div {
  z-index: 999;
}

.gradient {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  background-size: 200% 200%;
  animation: gray-scale 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: #f6f6f6;
  transition: color 0.2s ease-in-out;
}

.gradient:hover {
  color: rgba(0, 0, 0, 0);
}

@keyframes gray-scale {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.magic-8-ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.magic-8-ball::before,
.magic-8-ball::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.6) 70%,
    rgba(255, 255, 255, 0.9) 100%
  );
  opacity: 0.3;
  border-radius: 50%;
  animation: rays 5s linear infinite;
}

.magic-8-ball::after {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.6) 70%,
    rgba(255, 255, 255, 0.9) 100%
  );
  animation-delay: -2.5s;
}

@keyframes rays {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-container {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#question-input {
  position: relative;
  z-index: 1;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

#gradient-btn {
  background-size: 300% 100%;
  background-color: #fff;
  background-image: linear-gradient(45deg, #fff 50%, #333 50%);
  background-size: 270%;
  background-repeat: repeat;
  background-position: top right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: btn-animation 0.65s 0.15s ease-out forwards;
}

.shake-btn {
  position: relative;
  z-index: 1;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(45deg, #333 50%, #eee 50%);
  background-size: 270%;
  background-repeat: repeat;
  background-position: top right;
  animation: btn-animation 0.65s 0.15s ease-out forwards;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}

.shake-btn:hover,
.shake-btn:hover #gradient-btn {
  animation: btn-animation-rev 0.65s ease-out forwards;
}

.shake-btn:hover {
  background-color: #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.shake-btn:active {
  transform: translateY(3.5px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@keyframes btn-animation {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes btn-animation-rev {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

#click-counter {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}


.magic-8-ball-answer {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #2b5f98;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  /*animation: hologram 2s linear infinite;*/
  transition: opacity 2.5s ease-in-out;
}

@keyframes hologram {
  0% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.1);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(180deg) rotateY(0deg);
    box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}


@keyframes shake {
  0% {
    transform: translate(-5px, 0) rotate(0);
  }
  10% {
    transform: translate(10px, 0) rotate(-5deg);
  }
  20% {
    transform: translate(-10px, 0) rotate(5deg);
  }
  30% {
    transform: translate(10px, 0) rotate(-5deg);
  }
  40% {
    transform: translate(-10px, 0) rotate(5deg);
  }
  50% {
    transform: translate(10px, 0) rotate(-5deg);
  }
  60% {
    transform: translate(-10px, 0) rotate(5deg);
  }
  70% {
    transform: translate(10px, 0) rotate(-5deg);
  }
  80% {
    transform: translate(-10px, 0) rotate(5deg);
  }
  90% {
    transform: translate(10px, 0) rotate(-5deg);
  }
  100% {
    transform: translate(-5px, 0) rotate(0);
  }
}




.shake {
  animation: shake 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97) 20;
}

/*stop the animation after 3 rotations*/
.hologram {
  animation: hologram 2s ease-out 3;
}


/* invisible buttons */
.button-left, .button-right {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 0;
  background: transparent;
  border: none;
}

/* covers left and right half of screen */
.button-left {
  left: 0;
}

.button-right {
  right: 0;
}