* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*background image added*/
body {
  font-family: "Arial", sans-serif;
  /*background-color: #070808;*/
  background-image: url("/source/magic8-image1.png");
}

/*font style changed*/
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #f6f6f6;
  margin-top: 36px;
  font-family: 'Lobster', cursive;
}

.magic-8-ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin: 50px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.magic-8-ball::before,
.magic-8-ball::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0.9) 100%);
  opacity: 0.3;
  border-radius: 50%;
  z-index: -1;
  animation: rays 5s linear infinite;
}

.magic-8-ball::after {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0.9) 100%);
  animation-delay: -2.5s;
}

@keyframes rays {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-container{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

button {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #444;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.magic-8-ball-answer {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #2b5f98;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  /*animation: hologram 2s linear infinite;*/
}

#shake-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hologram {
  0% {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.1);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(180deg) rotateY(0deg);
    box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: translate(-50%, -50%)
  }
}

@keyframes shake {
  0% { transform: translate(-5px, 0) rotate(0); }
  10% { transform: translate(10px, 0) rotate(-5deg); }
  20% { transform: translate(-10px, 0) rotate(5deg); }
  30% { transform: translate(10px, 0) rotate(-5deg); }
  40% { transform: translate(-10px, 0) rotate(5deg); }
  50% { transform: translate(10px, 0) rotate(-5deg); }
  60% { transform: translate(-10px, 0) rotate(5deg); }
  70% { transform: translate(10px, 0) rotate(-5deg); }
  80% { transform: translate(-10px, 0) rotate(5deg); }
  90% { transform: translate(10px, 0) rotate(-5deg); }
  100% { transform: translate(-5px, 0) rotate(0); }
}

.shake {
  animation: shake 0.1s cubic-bezier(.36,.07,.19,.97) 20;
}

/*stop the animation after 3 rotations*/
.hologram {
  animation: hologram 2s ease-out 3;
}