.img {
  transition: transform 0.2s; /* Animation */
  width: 600px;
  height: auto;
  margin: 0 auto;
}

body {
  background: url('../centralized\ css/background.jpg') no-repeat center fixed;
  background-size: cover;
  background-color: white;
}

.headers {
  color: white;
}

.menu-card {
  padding: 1%;
  margin: 2%;
  width: 80%;
  background: rgba(0, 0, 0, 0.4);
  color: #f2f3f5;
  align-items: center;
}

.menu-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}
.menu-card img {
  transition: transform 0.2s; /* Animation */
}

.menu-card img:hover {
  transform: scale(
    2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.menu-details h3 {
  margin: 0;
}

.menu-details p {
  margin: 5px 0;
}

.selected {
  border: 3px solid blue;
}

.selectedEntree {
  border: 3px solid blue;
}

.buttons {
  padding: 15px;
  border-style: none;
  margin: 3px;
  background-color: #2591ac;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.popup-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
