---
name: Run Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

    - name: Install Node.js dependencies
      run: |
        npm install jest
        npm install jsdom
        npm install http-server
        npm install puppeteer
        npm install jest-puppeteer
        npm install expect-puppeteer

      - name: Run Jest tests
        run: |
          npx jest
